In [68]:
import tabula,os
Path1stSemPDf = '/Users/jatinanand/InterViewAssignments/TableTenisEvaluationApp/3monthsData/Rating/RatingsMarch.pdf'
df = tabula.read_pdf(Path1stSemPDf,pages='all')
PdfInputName =Path1stSemPDf.rfind('/')
ExcelName = Path1stSemPDf[Path1stSemPDf.rfind('/')+1:-4]+'.xlsx'
df.to_excel(ExcelName)

CSVParseError: Error failed to create DataFrame with different column tables.
Try to set `multiple_tables=True` or set `names` option for `pandas_options`.
, caused by ParserError('Error tokenizing data. C error: Expected 5 fields in line 89, saw 6\n',)

In [65]:
InputPathXLSX = os.getcwd() + '/'+ExcelName+''

In [66]:
InputPathXLSX

'/Users/jatinanand/InterViewAssignments/TableTenisEvaluationApp/Ranking-List-18-6v3.xlsx'

In [52]:
import pandas as pd

DF=pd.read_excel(InputPathXLSX)
import xlrd
workBook = xlrd.open_workbook(InputPathXLSX)
sheet= workBook.sheet_by_index(0)
ROWS = sheet.nrows
COLUMNS =sheet.ncols

In [53]:
for r in range(1,COLUMNS):
    print(sheet.cell_value(0,r))

Prev
Pos
Name
County/Country
Points
Inactive Periods

In [54]:
CreatePlayerBsonLL=[]
for r in range(1,ROWS):
    CreatePlayerBsonLL.append(sheet.row_values(r))

In [55]:
CreatePlayerBsonLL

[[0.0,
  '(1)',
  '1',
  'Charlotte Bardsley (163059)',
  'Staffordshire',
  '1484',
  '0'],
 [1.0, '(2)', '2', 'Denise Payet (1344)', 'Middlesex', '1475', '0'],
 [2.0, '(4)', '3', 'Mollie Patterson (446)', 'Norfolk', '1324', '0'],
 [3.0, '(3)', '4', 'Jasmin Wong (165375)', 'Yorkshire', '1295', '0'],
 [4.0, '(7)', '5', 'Annie Hedlund (198701)', 'Sweden', '1192', '0'],
 [5.0, '(5)', '6', 'Darcie Proud (90566)', 'Lincolnshire', '1184', '0'],
 [6.0, '(8)', '7', 'Megan Gidney (172935)', 'Lancashire', '1182', '0'],
 [7.0, '(6)', '8', 'Anna Hursey (6482)', 'Wales', '1175', '1'],
 [8.0, '(9)', '9', 'Beth Richards (170063)', 'Wales', '1146', '0'],
 [9.0, '(11)', '10', 'Danielle Kelly (80573)', 'Wales', '1079', '0'],
 [10.0, '(20)', '11', 'Nomin Baasan (192519)', 'Sweden', '1078', '0'],
 [11.0, '(10)', '12', 'Gauri Duhan (5655)', 'Yorkshire', '1070', '0'],
 [12.0, '(14)', '13', 'Mari Baldwin (175928)', 'Devonshire', '1049', '0'],
 [13.0, '(16)', '14', 'Gemma Kerr (165956)', 'Devonshire', '1042', '0'],
 [14.0, '(12)', '15', 'Ruby Chan (157565)', 'Yorkshire', '1039', '0'],
 [15.0, '(13)', '16', 'Natalia Ianau (167173)', 'Middlesex', '1023', '0'],
 [16.0, '(18)', '17', 'Lara Whitton (166275)', 'Wales', '1020', '0'],
 [17.0, '(15)', '18', 'Tiana Dennison (3289)', 'Essex', '1018', '0'],
 [18.0, '(17)', '19', 'Anaya Patel (172772)', 'Berkshire', '1003', '0'],
 [19.0, '(19)', '20', 'Katie Holt (3128)', 'Dorset', '1002', '0'],
 [20.0, '(21)', '21', 'Millie Rogove (180435)', 'Hertfordshire', '986', '0'],
 [21.0, '(0)', '22', 'Faye Leggett (95223)', 'Scotland', '944', '0'],
 [22.0, '(23)', '23', 'Lydia John (4765)', 'Wales', '929', '0'],
 [23.0, '(25)', '24', 'Raquel São Pedro (186977)', 'Lincolnshire', '924', '0'],
 [24.0, '(27)', '25', 'Erin Green (156732)', 'Nottinghamshire', '899', '0'],
 [25.0, '(33)', '26', 'Amy Marriott (172447)', 'SouthYorkshire', '895', '0'],
 [26.0, '(22)', '27', 'Bhavika Mistry (8564)', 'Northamptonshire', '889', '0'],
 [27.0, '(28)', '28', 'Sophie Barlow (9039)', 'ClevelandTTA', '874', '0'],
 [28.0, '(24)', '29', 'Lois Perryman (281)', 'Middlesex', '861', '0'],
 [29.0, '(26)', '30', 'Sandy Choong (191450)', 'Lancashire', '861', '0'],
 [30.0, '(34)', '31', 'Emily Haskell (7718)', 'Devonshire', '821', '0'],
 [31.0, '(29)', '32', 'Grace Clement (176566)', 'Wales', '819', '0'],
 [32.0, '(31)', '33', 'Lauren Stacey (168508)', 'Wales', '814', '1'],
 [33.0, '(49)', '34', 'Amillia Baker (170138)', 'Staffordshire', '804', '0'],
 [34.0, '(35)', '35', 'Kirsty Maull (170245)', 'Staffordshire', '800', '0'],
 [35.0, '(30)', '36', 'Charlotte Weatherby (2137)', 'Durham', '795', '0'],
 [36.0, '(32)', '37', 'Gracie Edwards (3426)', 'Essex', '788', '0'],
 [37.0, '(44)', '38', 'Nicole Scott (3589)', 'Northen Ireland', '781', '0'],
 [38.0, '(38)', '39', 'Jamie-lee Harley (95252)', 'Wales', '771', '0'],
 [39.0, '(37)', '40', 'Federica Bonato (8007)', 'Surrey', '769', '0'],
 [40.0, '(36)', '41', 'Lucy Craig (170952)', 'Northen Ireland', '769', '1'],
 [41.0, '(54)', '42', 'Jodie Morris (180375)', 'Sussex', '759', '0'],
 [42.0, '(39)', '43', "Scarlett O'Neil (159169)", 'Kent', '758', '0'],
 [43.0, 'Prev', 'Pos', 'Name', 'County/Country', 'Points', 'Inactive Periods'],
 [44.0, '(52)', '44', 'Sophie Newton (165255)', 'Lancashire', '746', '0'],
 [45.0, '(43)', '45', 'Rana Rassem (178568)', 'Durham', '732', '0'],
 [46.0, '(40)', '46', 'Helena Dicken (165503)', 'Derbyshire', '723', '0'],
 [47.0, '(42)', '47', 'Alice Dillon (5036)', 'Lancashire', '719', '2'],
 [48.0, '(50)', '48', 'Scarlett Anders (182173)', 'Middlesex', '715', '0'],
 [49.0,
  '(41)',
  '49',
  'Charlotte Marsden (164036)',
  'Hertfordshire',
  '705',
  '0'],
 [50.0, '(45)', '50', 'Anais O`Connor (163985)', 'Cheshire', '697', '0'],
 [51.0, '(46)', '51', 'Chloe Lingard (90443)', 'Lincolnshire', '689', '3'],
 [52.0, '(47)', '52', 'Alice Hazell (2491)', 'Sussex', '688', '0'],
 [53.0, '(56)', '53', 'Medha Verma (4145)', 'Surrey', '654', '0'],
 [54.0, '(48)', '54', 'Casey Nickle (175867)', 'Middlesex', '645', '0'],
 [55.0,
  '(51)',
  '55',
  'Samadhi Udamulla (168711)',
  'Hertfordshire',
  '642',
  '0'],
 [56.0, '(53)', '56', 'Megan Jones (178314)', 'Shropshire', '632', '0'],
 [57.0, '(55)', '57', 'Angharad Beman (168018)', 'Devonshire', '625', '0'],
 [58.0, '(57)', '58', 'Morgan Davies (184083)', 'Wales', '612', '1'],
 [59.0, '(65)', '59', 'Niamh Scarborough (184178)', 'Cheshire', '603', '0'],
 [60.0, '(66)', '60', 'Ella Barnard (175316)', 'Norfolk', '586', '0'],
 [61.0, '(59)', '61', 'Lauren Loosemore (182770)', 'Devonshire', '579', '0'],
 [62.0, '(58)', '62', 'Anna Green (156731)', 'Nottinghamshire', '577', '0'],
 [63.0, '(68)', '63', 'Sophie Rinnhofer (154440)', 'Warwickshire', '564', '0'],
 [64.0, '(60)', '64', 'Temeesha Hobbs (158614)', 'IsleOfWightTTA', '558', '0'],
 [65.0, '(62)', '65', 'Pelin Karabulut (178343)', 'Oxfordshire', '557', '1'],
 [66.0, '(69)', '66', 'Rebecca Savage (177006)', 'Durham', '555', '0'],
 [67.0, '(63)', '67', 'Jemma Walker (217)', 'Buckinghamshire', '546', '5'],
 [68.0,
  '(67)',
  '68',
  'Nicole Larmour (196407)',
  'Northen Ireland',
  '529',
  '0'],
 [69.0, '(64)', '69', 'Aimee Evans (2482)', 'Staffordshire', '528', '0'],
 [70.0, '(61)', '70', 'Anya Milne (175569)', 'Durham', '527', '0'],
 [71.0, '(76)', '71', 'Lucy Vernon (174988)', 'Derbyshire', '525', '0'],
 [72.0, '(71)', '72', 'Lucy MCIvor (200732)', 'Northen Ireland', '517', '0'],
 [73.0, '(75)', '73', 'Pravesha Ragi (197346)', 'Ireland', '511', '0'],
 [74.0, '(70)', '74', 'Nikka Zareh (188155)', 'Middlesex', '481', '0'],
 [75.0, '(72)', '75', 'Stefania Popa (173604)', 'Lincolnshire', '470', '0'],
 [76.0, '(74)', '76', 'Amy Mold (184709)', 'Durham', '458', '0'],
 [77.0, '(77)', '77', 'Yuvathi Vijay (178608)', 'India', '457', '0'],
 [78.0, '(73)', '78', 'Wiktoria Smolarek (180185)', 'Scotland', '444', '0'],
 [79.0,
  '(78)',
  '79',
  'Natasha Johnston (7282)',
  'Nottinghamshire',
  '441',
  '0'],
 [80.0, '(88)', '80', 'Katie Bates (178432)', 'ClevelandTTA', '428', '0'],
 [81.0,
  '(81)',
  '81',
  'Jyothirmayi Vaishnavi Ghanta (191086)',
  'Berkshire',
  '422',
  '0'],
 [82.0, '(80)', '82', 'Emily Beasley (162742)', 'Warwickshire', '420', '0'],
 [83.0, '(101)', '83', 'Maliha Baig (182658)', 'Essex', '420', '0'],
 [84.0, '(90)', '84', 'Isobella Khan (172697)', 'Avon', '417', '0'],
 [85.0, '(91)', '85', 'Abbie Hurley (180556)', 'Kent', '408', '0'],
 [86.0, '(93)', '86', 'Lola Mcghee (176099)', 'ClevelandTTA', '404', '0'],
 [87.0, '(82)', '87', 'Shristi Ghosh (3093)', 'Buckinghamshire', '399', '1'],
 [88.0,
  '(89)',
  '88',
  'Isabelle Lacorte (182285)',
  'Hertfordshire',
  '399',
  '0'],
 [89.0, '(86)', '89', 'Victoria Coll (1183)', 'Oxfordshire', '398', '0'],
 [90.0, '(79)', '90', 'Joelle Bennett (235)', 'Sussex', '397', '0'],
 [91.0, 'Prev', 'Pos', 'Name', 'County/Country', 'Points', 'Inactive Periods'],
 [92.0, '(100)', '91', 'Eve Witterick (166744)', 'ClevelandTTA', '393', '0'],
 [93.0,
  '(87)',
  '92',
  'Konstantina Apostologianni (186298)',
  'Lancashire',
  '390',
  '0'],
 [94.0, '(103)', '93', 'Anna Kelly (200733)', 'Northen Ireland', '387', '0'],
 [95.0, '(85)', '94', 'Bethany Brewer (95253)', 'Wales', '384', '3'],
 [96.0, '(84)', '95', 'Aakanksha Tripathi (153262)', 'Lancashire', '372', '0'],
 [97.0, '(83)', '96', 'Bethan Jones (190888)', 'Wales', '367', '0'],
 [98.0, '(92)', '97', 'Catherine Balshaw (176142)', 'Yorkshire', '361', '1'],
 [99.0, '(95)', '98', 'Alexandra Robinson (7663)', 'Lincolnshire', '357', '3'],
 [100.0, '(94)', '99', 'Paula Callaghan (193633)', 'Scotland', '352', '0'],
 [101.0, '(96)', '100', 'Aimey Gerald (169021)', 'Middlesex', '351', '3'],
 [102.0,
  '(97)',
  '101',
  'Anna Maria Besarabova (170467)',
  'Bulgaria',
  '351',
  '1'],
 [103.0,
  '(99)',
  '102',
  'Katie Christoforou (186657)',
  'Lincolnshire',
  '346',
  '5'],
 [104.0, '(107)', '103', 'Jasmin Coker (193961)', 'Derbyshire', '340', '0'],
 [105.0, '(113)', '104', 'Isobel McGerty (170470)', 'Suffolk', '338', '0'],
 [106.0, '(102)', '105', 'sophie barcsai (183502)', 'Dorset', '334', '2'],
 [107.0, '(98)', '106', 'Milly Green (162815)', 'Warwickshire', '333', '0'],
 [108.0, '(104)', '107', 'Zoe Bennett (157474)', 'Devonshire', '319', '1'],
 [109.0,
  '(117)',
  '108',
  'Mukmanee Warburton (168175)',
  'Yorkshire',
  '315',
  '0'],
 [110.0,
  '(105)',
  '109',
  'Rebecca Rigg (173418)',
  'Cumbria-TableTennisEngland',
  '312',
  '1'],
 [111.0, '(106)', '110', 'Lok Yee (Jade) Ngan (193266)', 'China', '308', '2'],
 [112.0, '(108)', '111', 'Talia Banin-Reid (2904)', 'Middlesex', '294', '5'],
 [113.0, '(109)', '112', 'Evelyn Pace (198287)', 'Surrey', '285', '0'],
 [114.0, '(110)', '113', 'Lucy Curtis (165026)', 'Suffolk', '283', '1'],
 [115.0, '(111)', '114', 'Sarah Amin (176784)', 'Yorkshire', '283', '1'],
 [116.0, '(115)', '115', 'Riya Kumar (151795)', 'Suffolk', '269', '2'],
 [117.0, '(114)', '116', 'Nicola Dawson (162995)', 'Kent', '269', '0'],
 [118.0, '(116)', '117', 'Min Jie Guo (54343)', 'Kent', '257', '1'],
 [119.0, '(112)', '118', 'Chloe Pryke (164286)', 'Cambridgeshire', '251', '0'],
 [120.0, '(118)', '119', 'Isabel Webb (59299)', 'Kent', '246', '0'],
 [121.0, '(130)', '120', "Sasha O'Halloran (184193)", 'Sussex', '244', '0'],
 [122.0, '(123)', '121', 'Ciara Hancox (164804)', 'Warwickshire', '234', '0'],
 [123.0, '(121)', '122', 'Reem Rassem (180472)', 'Durham', '234', '0'],
 [124.0, '(119)', '123', 'Ruby Bennett (182233)', 'Cheshire', '229', '0'],
 [125.0, '(124)', '124', 'Connie Dumelow (190110)', 'Derbyshire', '226', '0'],
 [126.0, '(129)', '125', 'Kate Watkinson (184531)', 'Lancashire', '224', '0'],
 [127.0,
  '(141)',
  '126',
  'Constance Reynolds (187312)',
  'Hertfordshire',
  '213',
  '0'],
 [128.0, '(122)', '127', 'Edith Dedman (177938)', 'Dorset', '210', '4'],
 [129.0, '(120)', '128', 'Ebony Hempsell (194373)', 'Yorkshire', '207', '0'],
 [130.0,
  '(125)',
  '129',
  'Anna Piercey (190241)',
  'Buckinghamshire',
  '200',
  '0'],
 [131.0, '(139)', '130', 'Saskia Key (175113)', 'Kent', '197', '0'],
 [132.0, '(127)', '131', 'Nina Oliva (189966)', 'Kent', '196', '4'],
 [133.0,
  '(128)',
  '132',
  'Anna Wilson (166137)',
  'Northamptonshire',
  '193',
  '3'],
 [134.0,
  '(131)',
  '133',
  'Bethany Wootton (163506)',
  'Staffordshire',
  '184',
  '1'],
 [135.0, '(132)', '134', 'Ellesse trangmar (187934)', '-', '183', '5'],
 [136.0, '(126)', '135', 'Darcy Brewer (177360)', 'Norfolk', '182', '0'],
 [137.0, '(133)', '136', 'Emily Ravetto (186960)', '-', '182', '3'],
 [138.0,
  '(134)',
  '137',
  'Rachael Iles (196802)',
  'Buckinghamshire',
  '178',
  '0'],
 [139.0,
  'Prev',
  'Pos',
  'Name',
  'County/Country',
  'Points',
  'Inactive Periods'],
 [140.0,
  '(135)',
  '138',
  'Eleanor Fletcher (174251)',
  'Warwickshire',
  '175',
  '1'],
 [141.0, '(137)', '139', 'Ella Stanton (186003)', 'Dorset', '170', '1'],
 [142.0, '(144)', '140', 'Naziyah Hasan (200915)', 'Surrey', '167', '0'],
 [143.0, '(143)', '141', 'Sienna Jetha (189584)', 'Hertfordshire', '166', '0'],
 [144.0,
  '(136)',
  '142',
  'Abigail Ingles (173605)',
  'Worcestershire',
  '165',
  '0'],
 [145.0,
  '(142)',
  '143',
  'Heidi Oestreicher (191095)',
  'Bedfordshire',
  '164',
  '1'],
 [146.0, '(140)', '144', 'Inderjeet Pawar (191091)', '-', '163', '0'],
 [147.0, '(138)', '145', 'Karishma Shah (179769)', 'Surrey', '161', '1'],
 [148.0, '(145)', '146', 'Lucy Needham (180481)', 'Suffolk', '146', '1'],
 [149.0, '(146)', '147', 'Millie Flannagan (187976)', 'Middlesex', '145', '3'],
 [150.0, '(147)', '148', 'Rosa McKechnie (177936)', 'Dorset', '143', '3'],
 [151.0, '(148)', '149', 'Emily Koester (190228)', '-', '141', '1'],
 [152.0, '(149)', '150', 'Jessica Moggeridge (182117)', 'Dorset', '139', '1'],
 [153.0, '(150)', '151', 'Georgia Barker (184025)', 'Hampshire', '136', '4'],
 [154.0, '(151)', '152', 'Mia Charles (186189)', '-', '135', '1'],
 [155.0, '(152)', '153', 'Amalia Stern (188212)', 'Wiltshire', '122', '3'],
 [156.0,
  '(153)',
  '154',
  'Shaniely Edwards (191936)',
  'Bedfordshire',
  '118',
  '1'],
 [157.0, '(154)', '155', 'Libby Hudson (185758)', 'Kent', '117', '1'],
 [158.0, '(155)', '156', 'natasha richardson (184303)', '-', '116', '0'],
 [159.0, '(156)', '157', 'Chloe Kay (180047)', 'Devonshire', '110', '2'],
 [160.0, '(161)', '158', 'Bethany Ellis (176155)', 'Lancashire', '108', '0'],
 [161.0, '(162)', '159', 'Holly Davis (179712)', 'Cornwall', '104', '0'],
 [162.0, '(157)', '160', 'Anna Cole (183288)', 'Worcestershire', '102', '0'],
 [163.0, '(158)', '161', 'Sophie Arrandale (188478)', '-', '101', '1'],
 [164.0, '(159)', '162', 'Milly Hanrahan (189394)', 'Cheshire', '99', '0'],
 [165.0, '(160)', '163', 'Edie Huckel (189177)', '-', '91', '1'],
 [166.0, '(0)', '164', 'Hannah Yan (179185)', 'Staffordshire', '80', '1'],
 [167.0, '(163)', '165', 'Claudia Hough (180634)', '-', '79', '2'],
 [168.0, '(164)', '166', 'Hannah Silcock (197105)', 'Jersey', '64', '0'],
 [169.0, '(165)', '167', 'Gypsie Kay (180048)', 'Devonshire', '63', '2'],
 [170.0, '(166)', '168', 'Lilli Foreman (192073)', 'Oxfordshire', '63', '1'],
 [171.0, '(167)', '169', 'Olivia Jones (90514)', 'Essex', '55', '2'],
 [172.0, '(168)', '170', 'Holly Calton (192251)', 'Dorset', '30', '0'],
 [173.0, '(169)', '171', 'jodie robertson (189866)', '-', '14', '2'],
 [174.0, '(170)', '172', 'Lucie Smith (167203)', 'SouthYorkshire', '13', '3']]

In [56]:
NewLLforBson=[]
for i in CreatePlayerBsonLL:
    if(i[1].find('Prev')>-1):
        print(i)
    else:
        NewLLforBson.append(i)
#     print(i,type(i),i[1],type(i[1]),)

[43.0, 'Prev', 'Pos', 'Name', 'County/Country', 'Points', 'Inactive Periods']
[91.0, 'Prev', 'Pos', 'Name', 'County/Country', 'Points', 'Inactive Periods']
[139.0, 'Prev', 'Pos', 'Name', 'County/Country', 'Points', 'Inactive Periods']

In [57]:
NewLLforBson

[[0.0,
  '(1)',
  '1',
  'Charlotte Bardsley (163059)',
  'Staffordshire',
  '1484',
  '0'],
 [1.0, '(2)', '2', 'Denise Payet (1344)', 'Middlesex', '1475', '0'],
 [2.0, '(4)', '3', 'Mollie Patterson (446)', 'Norfolk', '1324', '0'],
 [3.0, '(3)', '4', 'Jasmin Wong (165375)', 'Yorkshire', '1295', '0'],
 [4.0, '(7)', '5', 'Annie Hedlund (198701)', 'Sweden', '1192', '0'],
 [5.0, '(5)', '6', 'Darcie Proud (90566)', 'Lincolnshire', '1184', '0'],
 [6.0, '(8)', '7', 'Megan Gidney (172935)', 'Lancashire', '1182', '0'],
 [7.0, '(6)', '8', 'Anna Hursey (6482)', 'Wales', '1175', '1'],
 [8.0, '(9)', '9', 'Beth Richards (170063)', 'Wales', '1146', '0'],
 [9.0, '(11)', '10', 'Danielle Kelly (80573)', 'Wales', '1079', '0'],
 [10.0, '(20)', '11', 'Nomin Baasan (192519)', 'Sweden', '1078', '0'],
 [11.0, '(10)', '12', 'Gauri Duhan (5655)', 'Yorkshire', '1070', '0'],
 [12.0, '(14)', '13', 'Mari Baldwin (175928)', 'Devonshire', '1049', '0'],
 [13.0, '(16)', '14', 'Gemma Kerr (165956)', 'Devonshire', '1042', '0'],
 [14.0, '(12)', '15', 'Ruby Chan (157565)', 'Yorkshire', '1039', '0'],
 [15.0, '(13)', '16', 'Natalia Ianau (167173)', 'Middlesex', '1023', '0'],
 [16.0, '(18)', '17', 'Lara Whitton (166275)', 'Wales', '1020', '0'],
 [17.0, '(15)', '18', 'Tiana Dennison (3289)', 'Essex', '1018', '0'],
 [18.0, '(17)', '19', 'Anaya Patel (172772)', 'Berkshire', '1003', '0'],
 [19.0, '(19)', '20', 'Katie Holt (3128)', 'Dorset', '1002', '0'],
 [20.0, '(21)', '21', 'Millie Rogove (180435)', 'Hertfordshire', '986', '0'],
 [21.0, '(0)', '22', 'Faye Leggett (95223)', 'Scotland', '944', '0'],
 [22.0, '(23)', '23', 'Lydia John (4765)', 'Wales', '929', '0'],
 [23.0, '(25)', '24', 'Raquel São Pedro (186977)', 'Lincolnshire', '924', '0'],
 [24.0, '(27)', '25', 'Erin Green (156732)', 'Nottinghamshire', '899', '0'],
 [25.0, '(33)', '26', 'Amy Marriott (172447)', 'SouthYorkshire', '895', '0'],
 [26.0, '(22)', '27', 'Bhavika Mistry (8564)', 'Northamptonshire', '889', '0'],
 [27.0, '(28)', '28', 'Sophie Barlow (9039)', 'ClevelandTTA', '874', '0'],
 [28.0, '(24)', '29', 'Lois Perryman (281)', 'Middlesex', '861', '0'],
 [29.0, '(26)', '30', 'Sandy Choong (191450)', 'Lancashire', '861', '0'],
 [30.0, '(34)', '31', 'Emily Haskell (7718)', 'Devonshire', '821', '0'],
 [31.0, '(29)', '32', 'Grace Clement (176566)', 'Wales', '819', '0'],
 [32.0, '(31)', '33', 'Lauren Stacey (168508)', 'Wales', '814', '1'],
 [33.0, '(49)', '34', 'Amillia Baker (170138)', 'Staffordshire', '804', '0'],
 [34.0, '(35)', '35', 'Kirsty Maull (170245)', 'Staffordshire', '800', '0'],
 [35.0, '(30)', '36', 'Charlotte Weatherby (2137)', 'Durham', '795', '0'],
 [36.0, '(32)', '37', 'Gracie Edwards (3426)', 'Essex', '788', '0'],
 [37.0, '(44)', '38', 'Nicole Scott (3589)', 'Northen Ireland', '781', '0'],
 [38.0, '(38)', '39', 'Jamie-lee Harley (95252)', 'Wales', '771', '0'],
 [39.0, '(37)', '40', 'Federica Bonato (8007)', 'Surrey', '769', '0'],
 [40.0, '(36)', '41', 'Lucy Craig (170952)', 'Northen Ireland', '769', '1'],
 [41.0, '(54)', '42', 'Jodie Morris (180375)', 'Sussex', '759', '0'],
 [42.0, '(39)', '43', "Scarlett O'Neil (159169)", 'Kent', '758', '0'],
 [44.0, '(52)', '44', 'Sophie Newton (165255)', 'Lancashire', '746', '0'],
 [45.0, '(43)', '45', 'Rana Rassem (178568)', 'Durham', '732', '0'],
 [46.0, '(40)', '46', 'Helena Dicken (165503)', 'Derbyshire', '723', '0'],
 [47.0, '(42)', '47', 'Alice Dillon (5036)', 'Lancashire', '719', '2'],
 [48.0, '(50)', '48', 'Scarlett Anders (182173)', 'Middlesex', '715', '0'],
 [49.0,
  '(41)',
  '49',
  'Charlotte Marsden (164036)',
  'Hertfordshire',
  '705',
  '0'],
 [50.0, '(45)', '50', 'Anais O`Connor (163985)', 'Cheshire', '697', '0'],
 [51.0, '(46)', '51', 'Chloe Lingard (90443)', 'Lincolnshire', '689', '3'],
 [52.0, '(47)', '52', 'Alice Hazell (2491)', 'Sussex', '688', '0'],
 [53.0, '(56)', '53', 'Medha Verma (4145)', 'Surrey', '654', '0'],
 [54.0, '(48)', '54', 'Casey Nickle (175867)', 'Middlesex', '645', '0'],
 [55.0,
  '(51)',
  '55',
  'Samadhi Udamulla (168711)',
  'Hertfordshire',
  '642',
  '0'],
 [56.0, '(53)', '56', 'Megan Jones (178314)', 'Shropshire', '632', '0'],
 [57.0, '(55)', '57', 'Angharad Beman (168018)', 'Devonshire', '625', '0'],
 [58.0, '(57)', '58', 'Morgan Davies (184083)', 'Wales', '612', '1'],
 [59.0, '(65)', '59', 'Niamh Scarborough (184178)', 'Cheshire', '603', '0'],
 [60.0, '(66)', '60', 'Ella Barnard (175316)', 'Norfolk', '586', '0'],
 [61.0, '(59)', '61', 'Lauren Loosemore (182770)', 'Devonshire', '579', '0'],
 [62.0, '(58)', '62', 'Anna Green (156731)', 'Nottinghamshire', '577', '0'],
 [63.0, '(68)', '63', 'Sophie Rinnhofer (154440)', 'Warwickshire', '564', '0'],
 [64.0, '(60)', '64', 'Temeesha Hobbs (158614)', 'IsleOfWightTTA', '558', '0'],
 [65.0, '(62)', '65', 'Pelin Karabulut (178343)', 'Oxfordshire', '557', '1'],
 [66.0, '(69)', '66', 'Rebecca Savage (177006)', 'Durham', '555', '0'],
 [67.0, '(63)', '67', 'Jemma Walker (217)', 'Buckinghamshire', '546', '5'],
 [68.0,
  '(67)',
  '68',
  'Nicole Larmour (196407)',
  'Northen Ireland',
  '529',
  '0'],
 [69.0, '(64)', '69', 'Aimee Evans (2482)', 'Staffordshire', '528', '0'],
 [70.0, '(61)', '70', 'Anya Milne (175569)', 'Durham', '527', '0'],
 [71.0, '(76)', '71', 'Lucy Vernon (174988)', 'Derbyshire', '525', '0'],
 [72.0, '(71)', '72', 'Lucy MCIvor (200732)', 'Northen Ireland', '517', '0'],
 [73.0, '(75)', '73', 'Pravesha Ragi (197346)', 'Ireland', '511', '0'],
 [74.0, '(70)', '74', 'Nikka Zareh (188155)', 'Middlesex', '481', '0'],
 [75.0, '(72)', '75', 'Stefania Popa (173604)', 'Lincolnshire', '470', '0'],
 [76.0, '(74)', '76', 'Amy Mold (184709)', 'Durham', '458', '0'],
 [77.0, '(77)', '77', 'Yuvathi Vijay (178608)', 'India', '457', '0'],
 [78.0, '(73)', '78', 'Wiktoria Smolarek (180185)', 'Scotland', '444', '0'],
 [79.0,
  '(78)',
  '79',
  'Natasha Johnston (7282)',
  'Nottinghamshire',
  '441',
  '0'],
 [80.0, '(88)', '80', 'Katie Bates (178432)', 'ClevelandTTA', '428', '0'],
 [81.0,
  '(81)',
  '81',
  'Jyothirmayi Vaishnavi Ghanta (191086)',
  'Berkshire',
  '422',
  '0'],
 [82.0, '(80)', '82', 'Emily Beasley (162742)', 'Warwickshire', '420', '0'],
 [83.0, '(101)', '83', 'Maliha Baig (182658)', 'Essex', '420', '0'],
 [84.0, '(90)', '84', 'Isobella Khan (172697)', 'Avon', '417', '0'],
 [85.0, '(91)', '85', 'Abbie Hurley (180556)', 'Kent', '408', '0'],
 [86.0, '(93)', '86', 'Lola Mcghee (176099)', 'ClevelandTTA', '404', '0'],
 [87.0, '(82)', '87', 'Shristi Ghosh (3093)', 'Buckinghamshire', '399', '1'],
 [88.0,
  '(89)',
  '88',
  'Isabelle Lacorte (182285)',
  'Hertfordshire',
  '399',
  '0'],
 [89.0, '(86)', '89', 'Victoria Coll (1183)', 'Oxfordshire', '398', '0'],
 [90.0, '(79)', '90', 'Joelle Bennett (235)', 'Sussex', '397', '0'],
 [92.0, '(100)', '91', 'Eve Witterick (166744)', 'ClevelandTTA', '393', '0'],
 [93.0,
  '(87)',
  '92',
  'Konstantina Apostologianni (186298)',
  'Lancashire',
  '390',
  '0'],
 [94.0, '(103)', '93', 'Anna Kelly (200733)', 'Northen Ireland', '387', '0'],
 [95.0, '(85)', '94', 'Bethany Brewer (95253)', 'Wales', '384', '3'],
 [96.0, '(84)', '95', 'Aakanksha Tripathi (153262)', 'Lancashire', '372', '0'],
 [97.0, '(83)', '96', 'Bethan Jones (190888)', 'Wales', '367', '0'],
 [98.0, '(92)', '97', 'Catherine Balshaw (176142)', 'Yorkshire', '361', '1'],
 [99.0, '(95)', '98', 'Alexandra Robinson (7663)', 'Lincolnshire', '357', '3'],
 [100.0, '(94)', '99', 'Paula Callaghan (193633)', 'Scotland', '352', '0'],
 [101.0, '(96)', '100', 'Aimey Gerald (169021)', 'Middlesex', '351', '3'],
 [102.0,
  '(97)',
  '101',
  'Anna Maria Besarabova (170467)',
  'Bulgaria',
  '351',
  '1'],
 [103.0,
  '(99)',
  '102',
  'Katie Christoforou (186657)',
  'Lincolnshire',
  '346',
  '5'],
 [104.0, '(107)', '103', 'Jasmin Coker (193961)', 'Derbyshire', '340', '0'],
 [105.0, '(113)', '104', 'Isobel McGerty (170470)', 'Suffolk', '338', '0'],
 [106.0, '(102)', '105', 'sophie barcsai (183502)', 'Dorset', '334', '2'],
 [107.0, '(98)', '106', 'Milly Green (162815)', 'Warwickshire', '333', '0'],
 [108.0, '(104)', '107', 'Zoe Bennett (157474)', 'Devonshire', '319', '1'],
 [109.0,
  '(117)',
  '108',
  'Mukmanee Warburton (168175)',
  'Yorkshire',
  '315',
  '0'],
 [110.0,
  '(105)',
  '109',
  'Rebecca Rigg (173418)',
  'Cumbria-TableTennisEngland',
  '312',
  '1'],
 [111.0, '(106)', '110', 'Lok Yee (Jade) Ngan (193266)', 'China', '308', '2'],
 [112.0, '(108)', '111', 'Talia Banin-Reid (2904)', 'Middlesex', '294', '5'],
 [113.0, '(109)', '112', 'Evelyn Pace (198287)', 'Surrey', '285', '0'],
 [114.0, '(110)', '113', 'Lucy Curtis (165026)', 'Suffolk', '283', '1'],
 [115.0, '(111)', '114', 'Sarah Amin (176784)', 'Yorkshire', '283', '1'],
 [116.0, '(115)', '115', 'Riya Kumar (151795)', 'Suffolk', '269', '2'],
 [117.0, '(114)', '116', 'Nicola Dawson (162995)', 'Kent', '269', '0'],
 [118.0, '(116)', '117', 'Min Jie Guo (54343)', 'Kent', '257', '1'],
 [119.0, '(112)', '118', 'Chloe Pryke (164286)', 'Cambridgeshire', '251', '0'],
 [120.0, '(118)', '119', 'Isabel Webb (59299)', 'Kent', '246', '0'],
 [121.0, '(130)', '120', "Sasha O'Halloran (184193)", 'Sussex', '244', '0'],
 [122.0, '(123)', '121', 'Ciara Hancox (164804)', 'Warwickshire', '234', '0'],
 [123.0, '(121)', '122', 'Reem Rassem (180472)', 'Durham', '234', '0'],
 [124.0, '(119)', '123', 'Ruby Bennett (182233)', 'Cheshire', '229', '0'],
 [125.0, '(124)', '124', 'Connie Dumelow (190110)', 'Derbyshire', '226', '0'],
 [126.0, '(129)', '125', 'Kate Watkinson (184531)', 'Lancashire', '224', '0'],
 [127.0,
  '(141)',
  '126',
  'Constance Reynolds (187312)',
  'Hertfordshire',
  '213',
  '0'],
 [128.0, '(122)', '127', 'Edith Dedman (177938)', 'Dorset', '210', '4'],
 [129.0, '(120)', '128', 'Ebony Hempsell (194373)', 'Yorkshire', '207', '0'],
 [130.0,
  '(125)',
  '129',
  'Anna Piercey (190241)',
  'Buckinghamshire',
  '200',
  '0'],
 [131.0, '(139)', '130', 'Saskia Key (175113)', 'Kent', '197', '0'],
 [132.0, '(127)', '131', 'Nina Oliva (189966)', 'Kent', '196', '4'],
 [133.0,
  '(128)',
  '132',
  'Anna Wilson (166137)',
  'Northamptonshire',
  '193',
  '3'],
 [134.0,
  '(131)',
  '133',
  'Bethany Wootton (163506)',
  'Staffordshire',
  '184',
  '1'],
 [135.0, '(132)', '134', 'Ellesse trangmar (187934)', '-', '183', '5'],
 [136.0, '(126)', '135', 'Darcy Brewer (177360)', 'Norfolk', '182', '0'],
 [137.0, '(133)', '136', 'Emily Ravetto (186960)', '-', '182', '3'],
 [138.0,
  '(134)',
  '137',
  'Rachael Iles (196802)',
  'Buckinghamshire',
  '178',
  '0'],
 [140.0,
  '(135)',
  '138',
  'Eleanor Fletcher (174251)',
  'Warwickshire',
  '175',
  '1'],
 [141.0, '(137)', '139', 'Ella Stanton (186003)', 'Dorset', '170', '1'],
 [142.0, '(144)', '140', 'Naziyah Hasan (200915)', 'Surrey', '167', '0'],
 [143.0, '(143)', '141', 'Sienna Jetha (189584)', 'Hertfordshire', '166', '0'],
 [144.0,
  '(136)',
  '142',
  'Abigail Ingles (173605)',
  'Worcestershire',
  '165',
  '0'],
 [145.0,
  '(142)',
  '143',
  'Heidi Oestreicher (191095)',
  'Bedfordshire',
  '164',
  '1'],
 [146.0, '(140)', '144', 'Inderjeet Pawar (191091)', '-', '163', '0'],
 [147.0, '(138)', '145', 'Karishma Shah (179769)', 'Surrey', '161', '1'],
 [148.0, '(145)', '146', 'Lucy Needham (180481)', 'Suffolk', '146', '1'],
 [149.0, '(146)', '147', 'Millie Flannagan (187976)', 'Middlesex', '145', '3'],
 [150.0, '(147)', '148', 'Rosa McKechnie (177936)', 'Dorset', '143', '3'],
 [151.0, '(148)', '149', 'Emily Koester (190228)', '-', '141', '1'],
 [152.0, '(149)', '150', 'Jessica Moggeridge (182117)', 'Dorset', '139', '1'],
 [153.0, '(150)', '151', 'Georgia Barker (184025)', 'Hampshire', '136', '4'],
 [154.0, '(151)', '152', 'Mia Charles (186189)', '-', '135', '1'],
 [155.0, '(152)', '153', 'Amalia Stern (188212)', 'Wiltshire', '122', '3'],
 [156.0,
  '(153)',
  '154',
  'Shaniely Edwards (191936)',
  'Bedfordshire',
  '118',
  '1'],
 [157.0, '(154)', '155', 'Libby Hudson (185758)', 'Kent', '117', '1'],
 [158.0, '(155)', '156', 'natasha richardson (184303)', '-', '116', '0'],
 [159.0, '(156)', '157', 'Chloe Kay (180047)', 'Devonshire', '110', '2'],
 [160.0, '(161)', '158', 'Bethany Ellis (176155)', 'Lancashire', '108', '0'],
 [161.0, '(162)', '159', 'Holly Davis (179712)', 'Cornwall', '104', '0'],
 [162.0, '(157)', '160', 'Anna Cole (183288)', 'Worcestershire', '102', '0'],
 [163.0, '(158)', '161', 'Sophie Arrandale (188478)', '-', '101', '1'],
 [164.0, '(159)', '162', 'Milly Hanrahan (189394)', 'Cheshire', '99', '0'],
 [165.0, '(160)', '163', 'Edie Huckel (189177)', '-', '91', '1'],
 [166.0, '(0)', '164', 'Hannah Yan (179185)', 'Staffordshire', '80', '1'],
 [167.0, '(163)', '165', 'Claudia Hough (180634)', '-', '79', '2'],
 [168.0, '(164)', '166', 'Hannah Silcock (197105)', 'Jersey', '64', '0'],
 [169.0, '(165)', '167', 'Gypsie Kay (180048)', 'Devonshire', '63', '2'],
 [170.0, '(166)', '168', 'Lilli Foreman (192073)', 'Oxfordshire', '63', '1'],
 [171.0, '(167)', '169', 'Olivia Jones (90514)', 'Essex', '55', '2'],
 [172.0, '(168)', '170', 'Holly Calton (192251)', 'Dorset', '30', '0'],
 [173.0, '(169)', '171', 'jodie robertson (189866)', '-', '14', '2'],
 [174.0, '(170)', '172', 'Lucie Smith (167203)', 'SouthYorkshire', '13', '3']]

In [62]:
import pymongo
from pymongo import MongoClient
Client = pymongo.MongoClient('localhost',27017)
# Client = pymongo.MongoClient('mongodb://jatinanand345:jatin#123@ds357955.mlab.com:57955/evaluationsystemdb')
db =  Client.ttevaluationdb
players = db.players
def CRUDMongoDB(L):
    query={"name" : L[3]}
    NontType = type(None)
    studentStatus = players.find_one(query)
    ans=''
    if(type(studentStatus)==NontType):
        CreatePlayerBson(L)
        ans='done'
    else:
        UpdatePlayerBson(L)
        ans='done'
    return ans
def UpdatePlayerBson(L):
    
    return 'done'
    
def CreatePlayerBson(L):
    pdic={}
    pdic['prev']=int(L[1][L[1].find('(')+1:L[1].find(')')])
    pdic['pos']=int(L[2])
    pdic['name']=L[3]
    pdic['country']=L[4]
    pdic['points']=int(L[5])
    pdic['inactiveperiods']=int(L[-1])
    players.insert_one(pdic)
    return 'done'

# CreatePlayerBson(NewLLforBson[1])

In [63]:
for i in NewLLforBson:
    CRUDMongoDB(i)